/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #ffffff;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* FONTES DO SITE */

@font-face {
    font-family: 'museo';
    src: url('../fonts/Museo100-Regular-webfont.eot');
    src: url('../fonts/Museo100-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Museo100-Regular-webfont.woff2') format('woff2'),
         url('../fonts/Museo100-Regular-webfont.woff') format('woff'),
         url('../fonts/Museo100-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Museo100-Regular-webfont.svg#museo100') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'museo';
    src: url('../fonts/MuseoSans_500-webfont.eot');
    src: url('../fonts/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MuseoSans_500-webfont.woff2') format('woff2'),
         url('../fonts/MuseoSans_500-webfont.woff') format('woff'),
         url('../fonts/MuseoSans_500-webfont.ttf') format('truetype'),
         url('../fonts/MuseoSans_500-webfont.svg#museo_sans500') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'spicy';
    src: url('../fonts/SpicyRice-Regular-webfont.eot');
    src: url('../fonts/SpicyRice-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SpicyRice-Regular-webfont.woff2') format('woff2'),
         url('../fonts/SpicyRice-Regular-webfont.woff') format('woff'),
         url('../fonts/SpicyRice-Regular-webfont.ttf') format('truetype'),
         url('../fonts/SpicyRice-Regular-webfont.svg#spicy_riceregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body { background:#000000; min-height: 768px; }
a { text-decoration:none; }
a:hover,
a:active,
a:focus { text-decoration: none; }


#site-container { position:relative; width:1024px; height:768px; margin:0 auto; background: url('../img/conteudo-bg.jpg') no-repeat center top; overflow:hidden; }
#site-container.home { background-image:url('../img/background.jpg'); }
#site-container h2,
#site-container h3,
#site-container p { color:#ffffff; font-family:'museo'; font-weight:100; }

header { position:absolute; top:0; left:0; z-index:5; width:100%; height:200px; background: url('../img/conteudo-fade.png') no-repeat 0 0; }
header .logo { position:absolute; left:0%; top:20px; width:225px; height:116px; background: url('../img/logo.png') no-repeat center center; -webkit-background-size:cover; background-size:cover; -webkit-transition: all 0.5s; transition: all 0.5s; }

header .bt-anos { position:absolute; display:block; top:-35px; width:157px; height:157px; background-repeat:no-repeat; background-position:center center; -webkit-background-size:cover; background-size:cover; -webkit-transition: all 0.5s; transition: all 0.5s; -webkit-transition-delay: 0.2s; transition-delay: 0.2s; }
header .bt-61 { background-image:url('../img/ball-61.png'); left:340px; }
header .bt-67 { background-image:url('../img/ball-67.png'); left:530px; }

.home header { height:auto; background:none; }
.home header .logo { width:455px; height:232px; left:50%; margin-left:-227px; }
.home header .bt-anos { width:223px; height:223px; left:640px; }
.home header .bt-61 { top:230px; }
.home header .bt-67 { top:500px; }

.anos61 header .bt-67 { opacity: 0.5; }
.anos67 header .bt-61 { opacity: 0.5; }


#menu { position:absolute; left:0; bottom:0; width:100%; height:54px; z-index:5; background:#ffffff; overflow:visible; opacity: 1; -webkit-transition: all 0.5s; transition: all 0.5s; }
#menu ul { position:relative; width:610px; height:100%; top:-6px; margin:0 auto; }
#menu ul li { width:auto; display:inline-block; }
#menu ul li a { display:block; width:auto; height:60px; padding:6px 20px 0; text-align:center; color:#666666; font: 20px/54px 'spicy', Arial; -webkit-transition: all 0.5s; transition: all 0.5s; }
#menu ul li a.ativo { color:#ffffff; }
#menu .creditos { position:absolute; top:20px; right:20px; color:#999999; font:bold 12px 'museo'; }

.anos61 #menu ul li a.ativo { background:#dfa13c; }
.anos67 #menu ul li a.ativo { background:#ae3a30; }
.home #menu { opacity:0; left:50%; width:1px; }

.scrola { position: absolute; right: 5px; bottom: 61px; width: 34px; height: 55px; background: url('../img/scrola.png'); opacity: 1; transition: all 0.5s; }
.home .scrola { opacity: 0; bottom: -60px; }

.area { display:none; position:absolute; width:100%; min-height:100%; }
.area .sub-area { visibility:hidden; position:absolute; width:100%; height:100%; padding:170px 50px 60px; text-align:center; overflow-x:hidden; overflow-y:auto; opacity:0; -webkit-transition: all 0.5s; transition: all 0.5s; }
.area .sub-area.ativo { visibility:visible; opacity:1; }
.area .sub-area .container-conteudo { padding: 30px 100px 100px; background: black; background: rgba(0,0,0,0.7); border:3px solid #dfa13c; }
.area .sub-area h3 { font-size:20px; margin-bottom:10px; }
.area .sub-area h2 { font-size:48px; margin-bottom:30px; }
.area .sub-area p { font-size:20px; line-height:30px; }

.area .sub-area .botoes { width:1024px; margin:50px -150px 100px; }
.area .sub-area .botoes a { display:inline-block; position:relative; margin-right:100px; color: #ffffff; text-align: left; }
.area .sub-area .botoes a:last-child { margin-right:0; }
.area .sub-area .botoes a small { display: inline-block; position:absolute; left: 0; margin-top: 10px; padding-right: 50px; width: 100%;}
.area .sub-area .botoes .bt-lupa:after,
.area .sub-area .botoes .bt-play:after { position:absolute; top:120px; right:-40px; z-index:2; content:" "; width:81px; height:81px; }

.area .sub-area .botoes .bt-lupa:after { background: url('../img/bt-lupa-61.png'); }
.area .sub-area .botoes .bt-play:after { background: url('../img/bt-play-61.png'); }

.area .sub-area .botoes .bt-capa { background:url('../img/disco.png') no-repeat right top; padding-right:60px; }
.area .sub-area .botoes .bt-capa:after { right:10px; }
.area .sub-area .botoes .bt-capa small { padding-right: 80px; }
.area .sub-area .botoes.mb { margin-bottom: 150px; }

.anos67 .area .sub-area .container-conteudo { border-color: #ae3a30; }
.anos67 .area .sub-area .botoes .bt-lupa:after { background: url('../img/bt-lupa-67.png'); }
.anos67 .area .sub-area .botoes .bt-play:after { background: url('../img/bt-play-67.png'); }


.home #entrada { display:block; }
#entrada .intro { position:absolute; left:160px; top:230px; width:490px; height:490px; border:5px solid #ffffff; border-radius:50%; background:#333333; background:rgba(51,51,51, 0.7); padding:100px 50px;  }
#entrada .intro p { text-align:center; font-size:18px; font-weight:500; }

.anos61 #anos61 { display:block; }
.anos67 #anos67 { display:block; }

.conteudo-modal { display:none; }
#creditos { padding:30px; background:#ffffff; }
#creditos h3, #creditos h2, #creditos p { color:#333333; }

/*Customizações do Fancybox*/
.fancybox-overlay { background:#000; background:rgba(29,29,29,0.9); }
.fancybox-close { top: -25px; right: -25px; width: 50px; height: 50px; }
.anos61 .fancybox-close { background: url('../img/bt-fechar-61.png'); }
.anos67 .fancybox-close { background: url('../img/bt-fechar-67.png'); }
.fancybox-title { font-family:'museo'; }
.fancybox-skin { background:none; }
.fancybox-opened .fancybox-skin { box-shadow: none; }

#fancybox-thumbs ul li.active { border-width:2px; }

/*Customizações do player*/
.mejs-overlay-button { display:none; width:81px; height:81px; margin:-40px 0 0 -40px; }
.anos61 .mejs-overlay-button { background-image: url('../img/bt-playg-61.png'); }
.anos67 .mejs-overlay-button { background-image: url('../img/bt-playg-67.png'); }

.mejs-container .mejs-controls { height:10px; background:rgba(255,255,255,0.6); }
.mejs-container .mejs-controls div { width:0; height:0; }

.mejs-controls div.mejs-time-rail { padding:0; width:640px; height:8px; }
.mejs-controls .mejs-time-rail span { border-radius:0; }
.mejs-controls .mejs-time-rail .mejs-time-total { margin:0; background:rgba(255,255,255,0.6); }
.mejs-controls .mejs-time-rail .mejs-time-loaded { background:#ffffff; }

.anos61 .mejs-controls .mejs-time-rail .mejs-time-current { background:#dfa13c; }
.anos67 .mejs-controls .mejs-time-rail .mejs-time-current { background:#ae3a30; }

.mejs-controls .mejs-time-rail .mejs-time-handle { display:block; width:36px; height:36px; border-radius:50%; top:-13px; border-width: 2px; border-style:solid; }
.anos61 .mejs-controls .mejs-time-rail .mejs-time-handle { border-color:#dfa13c; }
.anos67 .mejs-controls .mejs-time-rail .mejs-time-handle { border-color:#ae3a30; }

.mejs-controls .mejs-button button { width:81px; height:81px; margin:-40px 0 0 -40px; top:-160px; left:50%; }
.anos61 .mejs-controls .mejs-play button { background: url('../img/bt-playg-61.png') no-repeat; }
.anos67 .mejs-controls .mejs-play button { background: url('../img/bt-playg-67.png') no-repeat; }
.anos61 .mejs-controls .mejs-pause button { background: url('../img/bt-pause-61.png') no-repeat; }
.anos67 .mejs-controls .mejs-pause button { background: url('../img/bt-pause-67.png') no-repeat; }

.mejs-container .mejs-controls .mejs-time { position:absolute; height:30px; width:300px; top:-110px; left:50%; margin-left:-150px; text-align:center; font: normal 26px/26px 'museo', Arial; }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
